# fly.toml app configuration file generated for pages-deploy on 2025-10-28T14:56:41Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'pages-deploy'
primary_region = 'ewr'
console_command = '/code/manage.py shell'

[build]

[env]
  PORT = '8000'

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1

[[statics]]
  guest_path = '/code/static'
  url_prefix = '/static/'
